@import "normalize.css";
@import "nav.css";

:root {
    --primary-color: #F2994A;
    --nav-height: 90px;

    --container-padding-desktop: 90px;
    --container-padding-mobile: 45px;
}

.color-primary {
    color: var(--primary-color);
}

::selection {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

/* Whatsapp */
.whatsapp {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 999;

    width: 60px;
    height: 60px;

    border-radius: 50%;
    background: green;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Overrides */

body {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sansation', sans-serif;
    font-weight: bold;
    font-weight: 900;
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

p {
    font-family: 'Inter', sans-serif;
}

ul, li {
    padding: 0;
}

.font-big-one {
    font-size: 4rem;
    /* 64px */
}
.font-big-two {
    font-size: 3rem;
    /* 48px */
}
@media (max-width:576px) {
    .font-big-one { font-size: 2.4rem; }
    .font-big-two { font-size: 2rem; }    
}

.font-para-one {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    /* 18px */
}

a:hover {
    color: var(--primary-color);
    transition: all .3s ease;
}

@media (max-width:576px) {
    .container {
        padding-left: 35px;
        padding-right: 35px;
    }    
}

.main {
    position: relative;
    z-index: 3;
    background: white;
}

/* Zoom Image on Hover */
.img-container {
    overflow: hidden;
}
.img-container > img {
    transition: .5s all;
-webkit-transition: .5s all;
-moz-transition: .5s all;
-o-transition: .5s all;
-ms-transition: .5s all;

}
.img-container:hover > img {
    transform: scale(1.15);
}


a.primary-link {
    padding: 3px;
    position: relative;

    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
}
.primary-link::after,
.primary-link::before {
    content: " ";
    position: absolute;
    left: 50%;
    bottom: 0;
    border-bottom: 2px solid var(--primary-color);
    width: 0;
    transition: all .4s ease-in-out;
    transform: translateX(-50%);
}
.primary-link:hover::after {
    width: 100%;
}

.btn.btn-primary {
    padding: .7rem 1.8rem;
    background-color: var(--primary-color);
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
}

.btn.btn-primary:hover {
    background-color: #b86e2d;
}

/* Class for creating margin for very first section. Should be filled with nav's height */
.top-margin {
    margin-top: var(--nav-height);
}

/* Padding for container after section  */
.container-padding {
    padding-top: var(--container-padding-desktop);
    padding-bottom: var(--container-padding-desktop);
}
@media (max-width:576px) {
    .container-padding {
        padding-top: var(--container-padding-mobile);
        padding-bottom: var(--container-padding-mobile);
    }
}

.footer{
    background-color: rgb(230,230,230);
    color: #555555;
}
/* Shadow for top footer */
.top-shadow {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    position: relative;
    z-index: 1;
}

.carousel img {
    filter: brightness(0.2);
    min-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    pointer-events: none;
}
.carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
}
.carousel-caption h5 {
    font-size: 6rem;
}
@media (max-width:546px) {
    .carousel {
        margin-top: var(--nav-height);
    }
    .carousel img {
        min-height: 400px;
        max-height: 400px;
    }
    .carousel h5 {
        font-size: 2rem;
    }
}

.ra * {
    padding: 0;
    margin: 0;
}

.ra {
    position: relative;
    width: 300px;
    height: 300px;
    transform: translateY(25%);

    display: flex;
}

.ra::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #e3e3e3;
    border-radius: 100%;
    height: 100%;
    z-index: -1;
}

.ra::after {
    content: " ";
    border-bottom: 1px solid #e3e3e3;
    position: absolute;
    right: 0;
    width: 500px;
    transform: translate(100%, 50%);
    top: 50%;
}

.img-shadow {
    /* box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.6); */

    box-shadow: 15px 15px 30px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: all .3s ease;
}

.img-shadow:hover {
    box-shadow: 15px 15px 40px 4px rgba(0, 0, 0, 0.2);
}

.socials {
    display: flex;
}

.socials > a {
    transform: scale(75%);

    width: 64px;
    height: 64px;
    display: inline-block;
    border: 2px solid #555555;
    border-radius: 50px;
    translate: all .3s ease;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socials>a:hover {
    border-color: var(--primary-color);
}

.socials>a:hover svg {
    fill: var(--primary-color);
}

.socials>a>svg {
    max-width: 32px;
    max-height: 32px;
    transition: all .3s ease;
}

.viva-card {
    width: 100%;
    height: auto;

    position: relative;
    overflow: hidden;

    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.viva-card .viva-card__image {
    background-repeat: no-repeat;
    background-size: cover;

    transition: all .3s ease;
}
.viva-card:hover .viva-card__image {
    opacity: 0.3;
    transform: scale(1.15);
}
.viva-card:hover .viva-card__text {
    opacity: 1;
}
.viva-card__text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.viva-card__link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

/* VERY SPECIFIC ELEMENT STYLING */

.home-ourteam-image {
    width: 100%;
}
/* @media (min-width:768px) {
    .home-ourteam-image-container {
        height: 600px;
    }
    .home-ourteam-image {
        max-width: 1000px; 
        top:50%;
        transform:translateY(-50%);
    }
} */


.home-projects-second-image-container {
    margin-top: 40px;
}
.viva-card .viva-card__image {
    height: 300px;
}
@media (min-width:576px) {
    .viva-card__image.first {
        height:840px;
    }
    .viva-card__image.second {
        height:400px;
    }
    .viva-card__image.third {
        height:400px;
    }
    .home-projects-second-image-container {
        margin-top: 0px;
    }
}