/* Floating Whatsapp button */

.whatsapp {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 999;

    width: 60px;
    height: 60px;

    border-radius: 50%;
    background: green;

    display: flex;
    justify-content: center;
    align-items: center;
}